.mission {
    margin-top: 10px;
    padding: 10px;

    &__title {
        @include section-title;
    }

    .slider {
        margin-top: 10px;
        overflow: hidden;

        figure {
            position: relative;
            width: 400%;
            margin: 0;
            left: 0;
            text-align: left;
            font-size: 0;
            animation: 15s slidy infinite both;
        }

        div {
            float: left;
            position: relative;
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 250px;
        }

        &__img {
            max-width: 325px;
        }

        &__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #faebd79c;
            width: 100%;
            text-align: center;
            padding: 10px;
            font-size: 18px;
        }

    }
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    25% {
        left: 0%;
    }

    30% {
        left: -100%;
    }

    50% {
        left: -100%;
    }

    55% {
        left: -200%;
    }

    75% {
        left: -200%;
    }

    80% {
        left: -300%;
    }

    100% {
        left: -300%;
    }

    // 0% {
    //     left: 0%;
    // }

    // 20% {
    //     left: 0%;
    // }

    // 25% {
    //     left: -100%;
    // }

    // 45% {
    //     left: -100%;
    // }

    // 50% {
    //     left: -200%;
    // }

    // 70% {
    //     left: -200%;
    // }

    // 75% {
    //     left: -300%;
    // }

    // 100% {
    //     left: -300%;
    // }
}