.our-offer {
    @include common {
        padding: 20px;
    }

    .offer-container {
        display: flex;
        padding: 10px;

        @include common {
            padding: 2px;
        }

        &__icon {
            width: 25px;
            margin-right: 5px;

            @include ipadPro {
                width: 50px;
            }
        }

        &__description {
            letter-spacing: 1px;
            align-self: center;

            @include ipadPro {
                font-size: 25px;
            }
        }
    }

    &__summary {
        padding: 10px;
        letter-spacing: 1px;
        text-align: center;

        p {
            @include ipadPro {
                font-size: 25px;
                max-width: 700px;
                margin: 10px auto;
            }
        }

        div {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            button {
                padding: 10px;
                background: transparent;
                border: 1px solid $green-color;
                border-radius: 6px;
                text-transform: uppercase;
                font-family: $content-font;
                letter-spacing: 2px;
                font-size: 15px;
                position: relative;

                @include common {
                    width: 300px;
                    margin: 0 auto;
                }

                @include ipadPro {
                    width: 400px;
                    height: 85px;
                    font-size: 30px;
                    cursor: pointer;
                }

                img {
                    position: absolute;
                    max-width: 23px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            span {
                color: #848383;
                font-size: 15px;

                @include ipadPro {
                    font-size: 25px;
                }
            }
        }
    }
}