@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@400;600&display=swap');

$title-font: 'Anton',
sans-serif;
$content-font: 'Comfortaa',
cursive;
$blue-color: rgb(37, 161, 198);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $content-font;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
}

@mixin section-title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    letter-spacing: 5px;
    color: $blue-color;
}